ActionServer==0.2.6
annoy==1.17.3
asciichartpy==1.5.25
easydict==1.11
loguru==0.7.2
matplotlib==3.8.2
numpy==1.24.1
pandas==2.1.4
prettytable==3.9.0
pyflann_py3==0.1.0
pytorch_transformers==1.2.0
rich==13.7.0
scikit_learn==1.3.2
sentence_transformers==2.2.2
tokenizers==0.15.0
torch==2.1.2+cu118
tqdm==4.66.1
transformers==4.36.2
umap==0.1.1
umap_learn==0.5.5
